@page "/"
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HttpClient Http

<PageTitle>Index</PageTitle>

@if (user is not null)
{
    <h1 style="color: darkgreen">User is authenticated!</h1>
    <h2>TenantId</h2>
    @tenantId
    <h2>Username</h2>
    @userName
}
else
{
    <h1 style="color: darkred">User is NOT authenticated!</h1>
}

@code {
    private string tenantId = "";
    private string userName = "";
    private ClaimsPrincipal? user;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;
        
    }
}