@page "/"
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [AllowAnonymous]
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HttpClient Http

<PageTitle>Index</PageTitle>

@if (user is not null)
{
    <h1 style="color: darkgreen">User is authenticated!</h1>
    <h2>WorkspaceId</h2>
    @workspaceId
    <h2>Username</h2>
    @userName
    <h2>Claims</h2>
    <ul>
        @foreach (var claim in user.Claims)
        {
            <li>@claim.Type : @claim.Value</li>
        }
    </ul>
}
else
{
    <h1 style="color: darkred">User is NOT authenticated!</h1>
}

@code {
    private string workspaceId = "";
    private string userName = "";
    private ClaimsPrincipal? user;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        
        if (authState.User.Identity.IsAuthenticated)
        {
            user = authState.User;
            var claims = user.Claims;
            workspaceId = claims.Where(c => c.Type == "workspaceId").FirstOrDefault().Value;
            userName = user.Identity.Name;
        }
    }
}